/**
 Based on: https://codepen.io/amr-adel/pen/xzVjPG?editors=1100
*/

.form-container *,
.form-container *:after,
.form-container *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-container {
    background-color: #ffffff;
    margin: 0 auto;
    padding-top: 15px;
    border-radius: 3px;
}

.form-container #title {
    text-align: left;
}

.form-container #description {
    text-align: left;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #9bb2da;
}

.form-container label {
    display: block;
    width: 100%;
    margin: 20px 0;
}

.form-container input {
    margin-top: 15px !important;
    margin-bottom: 15px;
}

.form-container input,
.form-container #dropdown,
.form-container textarea {
    display: block;
    margin-top: 5px;
    width: 100%;
    font-size: 18px;
    color: #666;
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    border-radius: 3px;
    padding: 10px 20px;
}

.form-container textarea {
    margin-top: 15px !important;
}

.form-container input:hover,
.form-container #dropdown:hover,
.form-container textarea:hover {
    box-shadow: 0 0 5px rgba(0, 110, 255, 0.568);
}

.form-container fieldset {
    border: none;
    margin: 20px 0;
}

.form-container fieldset label {
    margin: 10px 20px;
}

.form-container fieldset input {
    margin-right: 10px;
    display: inline-block;
    width: auto;
}

.form-container #submit {
    padding-top: 12px;
    width: 150px;
    color: #fafafa;
    background-color: #abc3ec;
    transition: background-color .2s ease-out;
    cursor: pointer;
    line-height: 1.6;
}

.form-container #submit:hover {
    background-color: #87a7df;
}