body {
    background-color: #1f262f;
    color: white;
}

input[type=range] {
    padding: 5px;
    margin: 5px;
}

input[type=text] {
    width: 139px;
    margin: 5px;
}

input[type=text]#rgb {
    width: 15px;
    margin: 5px;
}

#unstable-text{
    color: rgb(255,0,0);
}

#lonely-text{
    color: rgb(29,85,216);
}

#new-text{
    color: rgb(173,255,47);
}

#stable-text{
    color: rgb(255, 255, 255)
}

img{
    margin-left: 25px;
}

input[type=color]{
    margin-top: 10px;
}

input[type=checkbox]{
    margin-left: 27px;
    margin-top: 10px;
}