#main {
  margin: 0px;
  display: -webkit-flex;
  display: flex;
}

#main>half2 {
  margin: 10px;
  background: white;
  border-radius: 4pt;
  -webkit-flex: 1 1 50%;
  flex: 1 1 50%;
  -webkit-order: 2;
  order: 2;
  padding: 10px;
}

#main>half1 {
  margin: 10px;
  border-radius: 4pt;
  background: white;
  -webkit-flex: 1 1 50%;
  flex: 1 1 50%;
  -webkit-order: 1;
  order: 1;
}

#main>innerhalf1 {
  border-radius: 4pt;
  -webkit-flex: 1 1 50%;
  flex: 1 1 50%;
  -webkit-order: 1;
  order: 1;
}

#main>innerhalf2 {
  border-radius: 4pt;
  -webkit-flex: 1 1 50%;
  flex: 1 1 50%;
  -webkit-order: 2;
  order: 2;
}

#main>half2,
#main>half1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  padding: 25px;
}

#main>half2:hover,
#main>half1:hover {
  box-shadow: 0 3px 29px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* Mobile view */

@media all and (max-width: 800px) {
  #main,
  #page {
    -webkit-flex-flow: column;
    flex-flow: column;
  }
  input[type=text],
  input[type=email] {
    min-height: 65px !important;
  }
  /* inquiry-button */
  .inquiry-button {
    float: none;
  }
  .outer-flex-box {
    margin: 5px 0 5px 0 !important;
  }

  .outer-flex-box-top {
    margin: 5px 0 10px 0 !important;
  }
  .outer-flex-box-no-bottom {
    margin: 5px 0 0 0 !important;
  }
  .outer-flex-box-no-top {
    margin: 0 0 5px 0 !important;
  }
  .inner-flex-box {
    margin: 0 0 10px 0 !important;
  }
  #form-message {
    -webkit-flex: 1 1 25% !important;
    flex: 1 1 25%;
  }
  input[type=text],
  input[type=email] {
    min-height: 150px
  }
  #top-flex-container {
    margin: 0 !important;
  }
  header {
    margin: 0 0px 5px 0 !important;
  }
  footer {
    margin: 10px 0px 0 0 !important;
  }
}


blockquote {
  font-size: 18px;
  font-style: italic;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -10px;
  top: -21px;
  color: #7a7a7a;
}

blockquote:after {
  display: block;
  content: "\201D";
  font-size: 80px;
  position: absolute;
  right: 40px;
  bottom: -54px;
  color: #7a7a7a;
}

.LI-badge-container-horizontal-light{
  width: 100% !important;
}

.parent-center {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
}
.parent-center > .child-center {
  display: table-cell;
  vertical-align: middle;
}

font a:hover {
  color:#86a3d5;
}